#home {
    width: 50%;
    margin: 0 auto;
    padding-top: 2em;
  }
  
  #home .btn {
    display: block;
    max-width: 80px;
    text-align: center;
    margin: 0.5em 0 2em 0;
  }
  
  .no-photos {
    text-align: center;
  }
  
  .no-photos a {
    color: #0094f6;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #38434f;;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
   
  }
  
  .pagination button.active {
    background-color: #333;
    color: #fff;
  }

  @media screen and (max-device-width: 889px){
    #home .btn {
      display: block;
      max-width: 30px;
      text-align: center;
      margin: 0.5em 0 2em 0;
    }
  }
  
